<?xml version="1.0" encoding="utf-8"?>
<appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--log4Net配置文件-->
    <add key="log4Config" value="Config\Log4net.config"/>
    <!--微信令牌-->
    <add key="token" value="angrykun"/>
    <!--微信AppID-->
    <!--<add key="AppID" value="wx209bfe787d3b9820"/>-->
    <add key="AppID" value="wx2699fa2e41239430"/>
    <!--微信消息加密秘钥-->
    <add key="AESKey" value="Ca5DFrFSIwGb3xUqfOQA8LDzI4c0BIjAbQnMOALUtb5"/>
    <!--<add key="AESKey" value="4ff1578cfb153141fcce3cec37795c89"/>-->  
    <!--开发者密码-->
    <!--<add key="AppSecret" value="4ff0d9770eabb7c3b94d02c87560e887"/>-->
    <add key="AppSecret" value="4ff1578cfb153141fcce3cec37795c89"/>
</appSettings>