<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 应在 App.config 文件中添加条目，以获取仅适用于
    测试项目的配置设置。
-->
<configuration>

    <appSettings>
        <add key="webpages:Version" value="2.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <!--log4Net配置文件-->
        <add key="log4Config" value="Config\Log4net.config" />
        <!--微信令牌-->
        <add key="token" value="angrykun" />
        <!--微信AppID-->
        <!--<add key="AppID" value="wx209bfe787d3b9820"/>-->
        <add key="AppID" value="wx2699fa2e41239430" />
        <!--微信消息加密秘钥-->
        <add key="AESKey" value="Ca5DFrFSIwGb3xUqfOQA8LDzI4c0BIjAbQnMOALUtb5" />
        <!--<add key="AESKey" value="4ff1578cfb153141fcce3cec37795c89"/>-->
        <!--开发者密码-->
        <!--<add key="AppSecret" value="4ff0d9770eabb7c3b94d02c87560e887"/>-->
        <add key="AppSecret" value="4ff1578cfb153141fcce3cec37795c89" />
    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
